label {
    font-family: 'Roboto', sans-serif;
	display: block;
	margin: 5px 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#customers {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10em;
}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1B65D8;
  color: white;
}

.branding{
    color: black;
    border: 6px solid #1B65D8;
    align-content: center;
    text-align: center;
    margin-left: 16em;
    margin-top: 3em;
    width: 60%;
    font-size: 16px;
}

#customTitle {
     margin-left: 5.8em;
     font-size: 24px;
     color: Black;
    font-weight: 400;
}
#customAdd  {
    margin-top: 3em;
    margin-left: 9em;
    font-size: 16px;
    color: Black;
    font-weight: 500;
}

#customInstall  {
    margin-top: 1em;
    margin-left: 12em;
    font-size: 12px;
    color: Black;
    font-weight: 500;
}




/*styles for Create, Update and  Delete Pages */

input[type=text], input[type=number], select {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  padding: 12px 20px;
  margin-left: 3em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  background-color: #1B65D8;
  color: white;
  padding: 14px 20px;
  margin-left: 3em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3F65D8;
}

#customBox {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin-left: 18.3em;
  margin-top: 4em;
  margin-bottom: 2em;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
}

#customTitleCreate {
     margin-left: 10.5em;
     margin-bottom: 1em;
     font-size: 24px;
     color: Black;
    font-weight: 400;
}

#customBack {
    margin-left: 16em;
    font-size: 16px;
    font-weight: 500;
}

#customBack1 {
    margin-left: 3em;
    font-size: 16px;
    font-weight: 500;
}



